##### 1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers  obtained should be printed in a comma-separated sequence on a single line.

In [15]:
# Method 1
list = []
for i in range(2000,3201):
    if (i%7 == 0):
        if (i%5 == 0):
            list.append(i)

In [16]:
list

[2030,
 2065,
 2100,
 2135,
 2170,
 2205,
 2240,
 2275,
 2310,
 2345,
 2380,
 2415,
 2450,
 2485,
 2520,
 2555,
 2590,
 2625,
 2660,
 2695,
 2730,
 2765,
 2800,
 2835,
 2870,
 2905,
 2940,
 2975,
 3010,
 3045,
 3080,
 3115,
 3150,
 3185]

In [17]:
# Method 2
list = []
for i in range(2000,3201):
    if (i%7 == 0) and (i%5 == 0):
            list.append(i)

In [18]:
list

[2030,
 2065,
 2100,
 2135,
 2170,
 2205,
 2240,
 2275,
 2310,
 2345,
 2380,
 2415,
 2450,
 2485,
 2520,
 2555,
 2590,
 2625,
 2660,
 2695,
 2730,
 2765,
 2800,
 2835,
 2870,
 2905,
 2940,
 2975,
 3010,
 3045,
 3080,
 3115,
 3150,
 3185]

##### 2. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [15]:
First_name = input("First name: ")
Last_name = input("Last name: ")
Full_name = Last_name + " " + First_name
new_name = Full_name[::-1]
print(new_name)

First name: saritha
Last name: jaligama
ahtiras amagilaj

In [ ]:
First_name = input("First name: ")
Last_name = input("Last name: ")
Full_name = First_name + " " + Last_name
print(Full_name)

##### 3. Write a Python program to find the volume of a sphere with diameter 12 cm.    Formula: V=4/3 * Ï€ * r 3

In [22]:
import math
diametre = 12
radius = diametre/2

print("Radius of the Sphere is :{}".format(radius))

V = (4/3)*(math.pi)*(radius**3)
print("Value of the sphere with 12 metre is:()".format(V))

Radius of the Sphere is :6.0
Value of the sphere with 12 metre is:()

In [12]:
import math

# Given information

diametre = 12


# Finding radius when we know diametre

radius = diametre/2

# Finding Volume of the sphere

V = (4/3)*(math.pi)*(radius**3)

print("Diametre of the Sphere is : {}".format(diametre))
print("\nRadius of the Sphere is : {}".format(radius))
print("\nValue of the sphere with 12 metre is : {} cm".format(V))

Diametre of the Sphere is : 12

Radius of the Sphere is : 6.0

Value of the sphere with 12 metre is : 904.7786842338603 cm